.container
  .row
    .col
      %h2 New Person
      = bootstrap_form_for @person do |f|
        = f.text_field :name
        = f.select :gender, [['Male', 'male'], ['Female', 'female']], { prompt: '- Select a gender -' }
        = f.submit class: 'btn btn-dark'
