#content
  %h2
    = link_to @person.name, @person
    – Version History
  - @person.versions.reverse.each do |v|
    %p
      = v.index
      = v.event
      =# link_to v.created_at, version_of_person_path(@person, v.index)
      =# v.user_name || '<unknown user>'
      =# "edited #{v.modifications.keys.join ','}" unless v.modifications.empty?

