%header
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
    = link_to root_url, class: 'navbar-brand', title: 'Geneus' do
      = image_tag asset_url('geneus.png'), class: 'img-fluid'
    %button.navbar-toggler{ aria: { controls: 'navbarNav', expanded: 'false', label: 'Toggle navigation' }, data: { target: '#navbarNav', toggle: 'collapse' }, type: 'button' }
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Index Of People', people_path, class: 'nav-link'
        %li.nav-item
          = link_to 'New Person', new_person_path,  class: 'nav-link'

