%header
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
    = link_to 'Geneus', root_url, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Index Of People', people_path, class: 'nav-link'
        %li.nav-item
          = link_to 'New Person', new_person_path, class: 'nav-link'

